:root {
  --base: #f74f9e;
  --opacity: 100%;
  --blur: 0px;
  --brightness: 100%;
  --contrast: 100%;
  --radius: 0deg;
}

img {
  padding: 10px;
  background: var(--base);
  filter: opacity(var(--opacity)) blur(var(--blur)) brightness(var(--brightness)) contrast(var(--contrast)) hue-rotate(var(--hue));
  max-width: 60%;
  height: auto;
  margin: 1rem;
  border-radius: var(--radius);
}

.hl {
  color: var(--base)
}

h2 {
  font-size: 4rem;
}

label {
  font-size: 2.5rem;
}

body {
  text-align: center;
  background: #000000;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
  padding: 0.5em;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.container,
.controls,
.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 10px;
}

.container div {
  flex-basis: 45%;
}

.controls {
  flex-flow: column wrap;
  gap: 0.3em;
}

.control {
  gap: 0.3em;
}